<launch>

	<!-- Launch RTK-GPS node -->
    	<node pkg="emlid_rtk" type="reachrs_nmea_navsat" name="reachrs_nmea_navsat">
    	</node>

	<!-- Launch RTK-Compass node -->

	<node pkg="emlid_rtk" type="reachrs_compass" name="reachrs_compass">
	</node>

	<!-- Launch the Controller node> 
	<node pkg="lawn_mower" type="controller.py" name="controller" output="screen" />
	-->



</launch>
